html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


video {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    opacity: 3.9;
}

.wrapper {
    display: inline-flex;
    font-family: 'Berlin Sans FB';
}

    .wrapper .static-txt {
        color: #1ea5ff;
        font-size: 60px;
        font-weight: 400;
    }

    .wrapper .dynamic-txts {
        margin-left: 15px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
    }

.dynamic-txts li {
    color: #000000;
    list-style: none;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.content {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}